.about-section {
  background-color: $bgGreen;
  display: inline-block;

  &--image {
    float: left;
    margin-left: 8%;
  }

  &__text-content {
    @mixin atMedium {
      float: left;
      margin-left: 15%;
    }
  }
}

