.about-section {
  background-color: $bgGreen;
  display: inline-block;

  &--image {
    float: left;
  }

  &__text-content {
    @mixin atMedium {
      float: left;
      margin-left: 50px;
    }

    @mixin atLarge {
      margin-left: 120px;
    }
  }
}

