.generic-content-container {
  float: left;
  padding: 10px;
  
  &__text-content {
    padding: 2.5rem;
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: center;
    margin: 0 auto;

    @mixin atMedium {
      width: 40%;
      text-align: left;
    }

    @mixin atLarge {
      font-size: 1.5rem;
    }
  }

  &--images {
    @mixin atMedium {
      display: inline-block;
      width: 30%;
      padding-top: 60px;
      padding-bottom: 40px;
    }
  }

  
}