.generic-content-container {
  
  &__text-content {
    padding: 40px;
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: center;

    @mixin atMedium {
      width: 40%;
      padding-right: 0;
      text-align: left;
    }

    @mixin atLarge {
      font-size: 1.5rem;
    }
  }

  &--images {
    @mixin atMedium {
      display: inline-block;
      width: 20%;
      padding: 60px 10px;
    }
  }

  
}