.primary-nav {

  &--pull-left{
    float: left;
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    float: left;
    padding-right: 20px;
    margin: 20px 0;

    @mixin atLarge {
      padding-right: 6%;
    }
  }

  a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;

    @mixin atLarge {
      font-size: 1.2rem;
    }
  }
}