.primary-stats-section {
  background-color: $bgOrange;

  &__text-content {
    @mixin atMedium {
      float: right;
      margin-right: 15%;
      text-align: right;
    }

    h4 {
      padding-top: 15px;
      margin: 0;
    }
  }
  
  &--image {
    float: right;
    margin-right: 2%;
  }
}