.title {
  background-color: $bgBlue;

  &__title-text {
    text-align: center;
    font-weight: 200;
    margin: 0 auto;
    padding: 2.5rem;

    @mixin atLarge {
      font-size: 1.8rem;
    }
  }
}