.title {
  background-color: $bgBlue;
  opacity: 0.85;
  margin: 0;

  &__title-text {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 200;
    margin: 0 auto;
    padding: 2.5rem;

    @mixin atLarge {
      font-size: 1.8rem;
    }
  }
}